
#main {

}

#header {
    width:100%;
    background-color: #000;
    position: fixed;
    z-index: 1;
    box-shadow: 0 0 10px 0 ;
    top:0;
    height: 46px;
}

.fa-caret-down {
    font-size: 1.6rem;
}


/* Navigation */

#nav-pc {
   height: initial;
   position: relative;
   z-index: 1;
}
#nav-pc> li:hover > a {
    background-color: #ccc;
    color: #000;
    
}
#nav-pc > li {
    display: inline-block;
    
}
#nav-pc li {
    position: relative;
    top: ;
}

#nav-pc li a {
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 48px;
    padding: 0 24px;
    font-size: var(--primary-font-word);
    top: 0;
}

#nav-pc .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px 0 ;
    min-width: 160px;
    font-size: var(--primary-font-word);
    z-index: 2;
}
#nav-pc .subnav a {
    color: #000;
    padding: 0 12px;
    line-height:38px;
    font-size: var(--primary-font-word);
}
#nav-pc .subnav li  {
    display: block;
}
#nav-pc .subnav> li:hover >a {
    background-color: #ccc;
    color: #000;
    font-size: var(--primary-font-word);
}
#nav-pc > li:hover .subnav {
    display: block;
    font-size: var(--primary-font-word);
}
.subnav a:hover {
    font-size: var(--primary-font-word);
}




/* search button */


.search-btn {
    float: right;
    height: 48px;
    width: 60px;
    display: inline-block;
    position: relative;
}   
.search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
    
}
.search-btn + li:hover >.search-input {
    display: block;
}


.fa-magnifying-glass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.4rem;
    color: #fff;
    line-height: 46px;
    text-align: center ;
}

#header .bars-btn {
    height: 48px;
    width: 60px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.bars-btn:hover {
    background-color: #ccc;
    
}
.bars-btn:hover .fa-bars {
    color: #000;
}
.fa-bars {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 1.4rem;
    color: #fff;
    line-height: 46px;
    margin: auto;
}
/* Slider */

#slider-scroll {
    position: relative;
    margin-top: 46px;
    
    overflow-x: hidden;
    
}
#slider-scroll img {
    width: 100%;
    height: 60rem;
    object-fit: cover;
}

#slider-scroll .title-slider  {
    color: #fff;
    font-weight: 500;
    position: absolute;
    text-align: center;
    bottom: 48px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.4rem;
    
}
#slider-scroll .text-slider {
    color: #fff;
    font-size: 1.6rem;
    
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Content */


#content {

}

/* Content section */
.content-section {
    font-size: 2.4rem;
    margin: 0 21%;
    padding-top: 64px;
    padding-bottom: 110px;
}

.text-heading {
    font-family: "Segoe UI",Arial,sans-serif;
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
    margin: 10px 0;
}

.sub-heading {
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    margin: 15px 0;
    font-size: 1.6rem;
}

.text-paragraph {
    display: block;
    text-align: center;
    padding: 0 auto;
    text-align: justify;
}


/* Avatar section */
.avt-container {
    display: flex;
    justify-content: space-around;
    height: ;
    text-align: center;
}

.avt-section {
    padding-top: 32px;
    flex-basis: 33.33333%;
}
.title-name {
    font-size: 1.4rem;
    margin: 12px 0;
}
img.img-section{
    width: 60%;
    max-height: 155px;
    object-fit: cover;
}

/* Tour content */

.tour__section {
    background-color: #000;
    margin: 0;
    padding: 64px 21% 110px 21%;
    color: #fff;
    
}

.tour__tickets  {
    background-color: #fff;
}
.tour-info  {
    list-style-type: none;
    color: #757575;
    font-size: 1.6rem;
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.tag-tour {
    margin-left:16px;
    background-color: #f44336;
    font-size: 1.6rem;
    color: #fff;
    padding: 4px 8px;
}

.circle {
    display: inline-block;
    font-size: 1.6rem;
    color: #fff;
    background-color: #000;
    padding: 0 8px;
    text-align: center;
    line-height: 24px;
    position: relative;
    border-radius: 50%;
    position: absolute;
    right: 32px;
}


.address-section {
    display: flex;
    justify-content: space-between;
    
    margin-top: 32px ;
    background-color: #000;
}

.address-container {
    flex-basis: 32%;
    background-color: #fff;
    margin-top: 16px;
}

.address-img {
    background-color: #000;
    height: 184px;
}

.address__sourceimg {
    width: 100%;
    
}
.address__sourceimg:hover {
    opacity: 0.6;
    cursor: pointer;
}

.address-info {
    font-size: 4rem;
    color: #000;
    padding: 18px;
}

.address-heading h4 {
    font-size: var(--primary-font-word);
}

.address-subheading {
    opacity: 0.7;
    font-size: 2.4rem;
    font-style: italic;
    padding: 20px 0;
}

.address-paragraph {
    font-weight:500;
}

.address-btn {
    padding-top: 12px;
}

.address-btn button{
    background-color: #000;
    color: #fff;
    padding: 8px 12px;
    border: none;
}
.address-btn button:hover {
    cursor: pointer;
    background-color: #ccc;
    color: #000;
    
}

/* Contact */

.contact {
    
    margin: 0 21%;
    padding-top: 64px;
    padding-bottom: 110px;
}

.contact-section {
    padding: 32px 0;
    position: relative;
    height: 18rem;
}

.contact-text {
    width: 49%;
    display: inline-block;
    
}

.contact-info {

}
.contact-info li {
    font-size: 1.7rem;
    list-style-type: none;
}

.fa-location-dot,
.fa-phone,
.fa-envelope {
    padding-right: 16px;
    font-size: 1.7rem;
    width: 10%;
    
}

.contact-input {
    display: inline-block;
    height: 72px;
    top: 32px;
    position: absolute;
    
} 
.head-input {
    font-size: 2.2rem;
    width: 100%;

}
.head-input input {
    font-size: 1.6rem;
    padding: 8px;
    width: 49%;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(0 0 0 / 28%);
    
}
.footer-input {
    font-size: 2.2rem;
    width: 100%;
    padding-top: 8px;
    display: inline-block;
}

.footer-input input {
    width: 100%;
    padding: 8px;
    font-size: var(--primary-font-word);
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(0 0 0 / 28%);
}


.contact-button {
    font-size: 2rem;
    display: inline-block;
}

.contact-btn  {
    padding: 8px 16px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    margin: 8px 0;
    right: 0;
    position: absolute;
    border: none;
    font-size: var(--primary-font-word);
}

.contact-btn:hover {
    background-color: #757575;
    cursor: pointer;

}

/* Map img */
.map-img {
    object-fit: cover;
    width: 100%;
    overflow-x: hidden;
}
.map-img img {
    width: 100%;
    filter: grayscale(50%);

}
/* Footer */

#footer {
    font-size: 2.4rem;
    margin: 0 21%;
    padding-top: 64px;
    padding-bottom: 64px;
}
.footer-info {
    text-align: center;
}
.footer-info i{
    font-size: 2.4rem;
    
}

.footer-info p{
    padding: 18px;
    font-size: 1.5rem;
    opacity: 0.7;
    
}
.footer-info a {
    font-size: 1.6rem;
    color: #000;
    opacity: 0.7;
    
}

.fa-brands {
    opacity: 0.7;
}

.fa-brands:hover {
    opacity: 0.4;
}

.w3-link , a:hover {
    opacity: 1;
}
